<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style></style>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="icon" type="image/x-icon" href="/src/views/images/Todo.jpg" />
  </head>

  <body>
    <h1><%= title %></h1>
    <i class="material-icons">cloud</i>
    <i class="material-icons">favorite</i>
    <i class="material-icons">attachment</i>
    <i class="material-icons">computer</i>
    <i class="material-icons">traffic</i>
  </body>
</html>
