<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page not found</title>
    <style>
      h1 {
        text-align: center;
        font-size: 10ch;
      }
      html{
        background-color: rgb(199, 41, 41);
      }
      button {
        font-size: 10ch;
        width: 100%;
        border: 20%;
        border-radius: 10%;
        background-color: azure;
        color: rgb(19, 34, 149);
      }
    </style>
  </head>
  <body>
    <h1>Page not found</h1>
    <a href=<%= url %>
      >
      <button>
       Return home
      </button>
      </a>
  </body>
</html>
